[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
