auto-save-list
TAGS
emacs_config.proj
ac-comphist.dat
/.smex-items
eshell
url
var
.places
places
private.el
*.elc
projectile-bookmarks.eld
.cask
projectile.cache
bookmarksido.last
ido.last
/.mc-lists.el
/elpa/
TODO.org
abbrev_defs
recentf
tramp
GPATH
GRTAGS
GTAGS
smex-items
custom.el
.cache
